@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.bg-primary {
  background-color: #FF0052;
  transition: all .3s ease-in-out;
}

.text-primary {
  color: #FF0052;
  transition: all .3s ease-in-out;
}

a {
  transition: all .3s ease-in-out;
}

a:hover {
  text-decoration: none;
  color: #FF0052;
}